* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  display: flex;
  height: 573px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.804); */
  padding: 50px;
  margin: auto;
  /* border: 2px solid red; */
}

.container #card-1 {
  max-width: 100%;
  margin: auto;
  display: flex;
  min-height: 100%;
}

.container #card-1 img {
  height: fit-content;
  border: 1px solid black;
  height: 472px;
  border-radius: 5px;
}
